/* Fundo geral */
body {
  background-color: #efeaea; /* CINZA CLARO IGUAL AO DESIGN */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Card central */
.login-container {
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 14px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

/* Lado esquerdo */
.login-left {
  flex: 1;
  background-color: #8ce1a8;
  color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h1 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
 
}

.login-left h2 {
  font-size: 22px;
  margin-bottom: 20px;
  margin-left: 30px;
  
  
}

.login-left p {
  font-size: 17px;
  margin-bottom: 10px;
  line-height: 20px;
  max-width: 260px;
  margin-left: 30px;
  
}

/* Lado direito */
.login-right {
  flex: 1;
  background-color: #ffffff;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-login {
  text-align: center;
  margin-bottom: 10px;
}

.p-login {
  text-align: center;
}

.login-right h2 {
  font-size: 28px;
  margin-bottom: 10px;
  
}

.login-right p {
  font-size: 15px;
  margin-bottom: 20px;
}

.login-right span {
  color: #4b7cf7;
  font-weight: bold;
  cursor: pointer;
}

.form-group {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 6px;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 8px 0;
  outline: none;
  font-size: 14px;
  background: transparent;
}

/* Senha com ícone */
.password-container {
  position: relative;
  width: 100%;
}

.toggle-icon {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

/* Link "Esqueceu a palavra passe?" */
.forgot-link {
  font-size: 13px;
  text-decoration: none;
  color: #000;
  opacity: 0.7;
  margin-top: 4px;
  display: inline-block;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* Botão principal */
button {
  background-color: #6fd68c; /* igual ao design */
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

button:hover {
  background-color: #147730;
  
}

/* Social login */
.social-login {
  margin-top: 25px;
}

.social-login p {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Ícones Google e Facebook */
.social-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}
